mixin ApiCardParams(doc)
  if doc.returns.type
    .params(data-expanded='false')
      a.toggle-params(href='#expand') Parameters
      .details.panel.panel-default
        ul.list-group
          each param in doc.params
            li.list-group-item
              strong
                - const paramType = param.type.replace('*', 'Any')
                if docNames.includes(paramType)
                  a(href='#' + paramType)
                    = paramType
                else
                  = paramType
              code.ms-2.param-name
                if param.name === ''
                  em (unnamed)
                else
                  = param.name
              span.ms-1.description !{param.description}
          li.list-group-item
            em Returns:
            strong.ms-1= doc.returns.type
            span.ms-1.description !{doc.returns.description}
