include mixins/ApiMainContent
include mixins/ApiSidebar
include mixins/DocWithTopNavBar

+DocWithTopNavBar('api')
  #content-area.d-flex.flex-row.flex-fill.overflow-hidden
    +ApiSidebar
    +ApiMainContent
  script(src='./js/main.js')